<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>about</title>
    <link rel="stylesheet" href="./css/main.css" />
  </head>
  <body>
    <%- include ('partials/header') %>
    <main class="about-main">
      <h2>What we do</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas quidem
        inventore voluptatem hic voluptates, illum ducimus eveniet minus laborum
        minima rem quas magnam non saepe? Ea debitis cupiditate repellendus
        quos!
      </p>
    </main>
    <% include ('partials/footer') %>
  </body>
</html>
