<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>xenol -stay protected online</title>
    <link rel="stylesheet" href="./css/main.css" />
  </head>
  <body>
    <%- include ('partials/header') %>
    <main>
      <h1>welcome to xenol</h1>
      <h2>Digital security at its best</h2>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta repellat
      quasi modi consectetur totam, sit impedit voluptate eos facilis. Ad vero,
      corporis ut eum, rem temporibus dolorem dicta dignissimos accusamus,
      quidem qui eius neque asperiores atque omnis quasi dolores quibusdam
      quisquam nostrum tempore sapiente quae. Facere, aliquam. Veniam expedita
      nam asperiores ipsam culpa laboriosam autem consequuntur, explicabo
      mollitia quo officiis corporis numquam doloribus magni doloremque nihil
      molestiae.

    </main>
  </p>

    <%- include('partials/footer') %>
  </body>
</html>
